background{
opacity: 50;
}
body{
    text-align: center;
}
button{
    font-family: 'Anton', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 8px;
    border: 1px, solid, rgb(255,0,200);
    background-color:rgb(255, 0, 200);
}
h1{
    font-family: 'Bungee Shade', cursive;
    font-size: 50px;
    
}

#pop-form{
    color: black;
    font-family: 'Bungee Shade', cursive;
    font-size: 20px;
    font-weight: bold;
}

input{
    font-family: 'Anton', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 8px;
    background-color: white;

}

p{
    font-weight: 600;
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}